.idea/deployment.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/*
nbproject/*
/nbproject/private/

.scannerwork
.scannerwork/*

config/autoload/development.php
config/autoload/production.php
config/autoload/homologation.php
config/autoload/gerador.php
config/autoload/global.php
config/autoload/backup_automatico_banco.sh

data/cache/*.php
data/cache/*.cache
data/cache/**/*.dat
data/captcha/*.png
public/assets/cache/*.gzip

data/arquivos/ata/*
data/arquivos/itens_locaveis/*
data/arquivos/associados/*
data/arquivos/dependentes/*
data/arquivos/logs/*
data/arquivos/debito_folha/*
data/arquivos/escritorio/*

composer.phar
php_errors.log

vendor/*
cucumber/*
cucumber/log/*
cucumber/*.yaml
cucumber/Gemfile
cucumber/Gemfile.lock

public/.htaccess
